<div class="row">
<%= render 'books/list', user: @book.user, book: @new %>

<div class="col-xs-9" >
    <table class="table table-striped">
            <h2>Book detail</h2>
            <th>
                <p><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg", size:'60x60' %></p>
                <p><%= link_to @book.user.name, user_path(current_user.id) %></p>
            </th>
            <th><%= @book.title %></rh>
            <th><%= @book.body %></th>
            <th>
        <td>
            <% if @book.favorited_by?(current_user) %>
            <%= link_to book_favorites_path(@book), method: :delete do %>
              <span class="glyphicon glyphicon-heart"><%= @book.favorites.count%></span>
            <% end %>
            <% else %>
            <%= link_to book_favorites_path(@book), method: :post do %>
              <span class="glyphicon glyphicon-heart-empty"><%= @book.favorites.count %></span>
            <% end %>
           <% end %>
        </td>
        <td>コメント数：<%= @book.post_comments.count %></td>
           </th>

            <% if @book.user == current_user %>
                    <td><%= link_to 'Edit', edit_book_path, class: "btn btn-success" %></td>
                    <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'You sure?' }, class: "btn btn-danger"%></td>
            <% end %>
    </table>
    <table class="show-tb">
      <% @book.post_comments.each do |post_comment| %>
        <tr>
          <td>
            <%= link_to user_path(post_comment.user), class: "user_#{post_comment.user.id}" do %>
              <%= attachment_image_tag post_comment.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
              <%= post_comment.user.name %>
            <% end %>
          </td>
          <td><%= post_comment.comment %></td>
          <% unless current_user != post_comment.user %>
            <td><%= link_to 'Destroy', book_post_comment_path(post_comment.id), class: 'btn-sm btn-danger', method: :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <div class="comment-form">
      <%= form_for [@book, @post_comment] do |f| %>
        <%= f.text_area :comment, size: "90x5" %>
        <%= f.submit '送信' %>
      <% end %>
    </div>
</div>
</div>